In [1]:
# Import our packages
import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [19]:
# read from csv file
# read data
df= pd.read_csv('https://raw.githubusercontent.com/Hala-Alsouly/Theatre/main/Theaters.csv')
df.head()

   Branch  Theater      Type  seats  AdultCost  ChildCost
0  Riyadh        1       VIP     60         20         15
1  Riyadh        2  Standard    120         15         10
2  Riyadh        3  Standard    120         15         10
3  Riyadh        4       MAX    200         17         12
4  Riyadh        5  Standard    120         15         10